.file_uplaod_list {
  float: left;
  width: 104px;
  height: 104px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  padding: 6px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  position: relative
}

.file_upload {
  width: 100%;
  height: 90px;
  overflow: hidden;
  text-align: center
}

.file_upload_icon {
  font-size: 26px;
  line-height: 54px;
  opacity: 0.8;
}

.file_upload_text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.file_uplaod_delete {
  color: red;
  position: absolute;
  font-size: 18px;
  top: -4px;
  right: -4px;
}
