.file-view-container{
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    background-color: rgba(12,15,19,.5);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 109;
    padding:24px;
    .file-view-container-close{
        width: 100%;
        text-align: right;
        background: 0 0;
        color: #fff;
        font-size: 30px;
        border-color: transparent;
        box-shadow: none;
    }
    .file-view-container-content{
        display:flex;
        flex-flow:row;
        height: 100%;
        .file-view-container-content-view{
            flex: 1;
            width: calc(100vw - (80px * 2));
//          background: #fff;
            border-radius: 6px;
            padding: 15px;
            margin-bottom: 1.15rem;
            margin-top: 2.3rem;
            margin: 24px;
            display:flex;height:80%;
            &>div{
                width:100%;
                display:flex;
                flex-direction:column;
                justify-content:center
            }
            img{
                max-height: 75vh;
                max-width: calc(112.49vh);
                min-height: 300px;
                min-width: calc(449.958px);
                background-image:
url("data:image/svg+xml;utf8,<svg t="1600329740964" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7194" width="200" height="200"><path d="M896 626.592a16 16 0 0 0-7.68-13.664l-172.448-105.088a16 16 0 0 0-20.704 3.52l-76 92.608-1.024 1.152a16 16 0 0 1-22.624 0.032l-252.832-252.064a16.032 16.032 0 0 0-22.08-0.512l-187.36 170.656a15.936 15.936 0 0 0-5.248 11.84V800h768v-173.408z" p-id="7195" fill="#8a8a8a"></path><path d="M800 320m-64 0a64 64 0 1 0 128 0 64 64 0 1 0-128 0Z" p-id="7196" fill="#8a8a8a"></path><path d="M32 128v768h960V128H32z m896 704H96V192h832v640z" p-id="7197" fill="#8a8a8a"></path></svg>");
            }
            p{
                text-align:center;
                color:#fff;
            }
        }
        .file-view-container-icon{
            font-size:35px;
            height:70%
            color:#fff;
            opacity:0.6;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .file-view-container-icon:hover{
             opacity:1;
        }
    }
}
i{
    cursor:pointer;
}